body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 16px;
}

.v-basket{
  min-height: 400px;
}

.homeBanner{
  max-width: 100%;
  margin: 0 auto;
}